.blog-banner {
    background-image: url("./img/image1.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.vh-65 {
    height: calc(65vh - 56px);
  }
