.carousel-caption {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
  .custom-img1 {
    height: calc(80vh - 56px);
    background: url("./img/image1.jpg") top center/cover no-repeat scroll;
  }
  .custom-img2 {
    height: calc(80vh - 56px);
    background: url("./img/image2.jpg") top center/cover no-repeat scroll;
  }
  .custom-img3 {
    height: calc(80vh - 56px);
    background: url("./img/image3.jpg") top center/cover no-repeat scroll;
  }

  .parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/lights.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .row-parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/media.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dark {
    background-color: black;
  }


  .nav-margin {
    margin-left: -16px;
  }

  